body {
  background-color: rgb(255, 255, 255);
  font-family: monospace, "Lucida Console", serif;
  margin: 0;
  display: block;
  width: 100%;
}

.header {
  display: inline-block;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 7px 10px 43px -20px rgba(0,0,0,0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  max-height: 5em;
}

.logo{
  float: left;
  position: relative;
  top: -.55em;
  left: 4em;
}

.nav{
  float: right;
  position: relative;
  right: 4em;
}
.nav li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  padding: 0 20px;
}

.header_link:link {
  text-decoration: none;
  color: black;
}

.header_link:visited {
  color: black;
}

.header_link:hover {
  color: rgb(255, 145, 0);
  transition: ease-in 0.2s;
}

.active {
  color: rgb(255, 145, 0) !important;
}

.pname {
  padding-top: 10%;
  clear: both;
  min-height: 500px;
  width: 100%;
}

.image {
  background-image: url("IMG_0476.PNG");
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  opacity: .95;
  left: -50%;
  background-position: -250px 150px;
}

.mname {
  margin: auto;
  font-size: 120px;
  text-align: left;
  float: right;
  line-height: 0.60;
  letter-spacing: 0em;
  font-family: "Poppins", 'sans serif';
  color: rgb(255, 255, 255);
  font-weight: 900;
  position: relative;
  top: 150px;
  right: 20%;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%),
    0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%),
    0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%),
    0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%),
    0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, .05),
    0 1px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .2),
    0 10px 10px rgba(0, 0, 0, .3);
    
}

.bio {
  clear: both;
  opacity: 0;
  transform: none;
  margin-bottom: 100px;
  height: 300px;
  margin: 0px 20px;
  width: 50%;
}

.bio h1 {
  float: left;
  color: rgb(255, 145, 0);
  top: 0;
  padding: 30px 0;
  margin-top: 50px;
  text-align: left;
}

.bio p {
  float: left;
  padding-top: 50px;
  line-height: 1.5;
}

.bioback {
  float: right;
  width: 10%;
  position: relative;
}

.Education {
  margin-top: 100px;
  line-height: 1.5;
  opacity: 0;
  transform: none;
  margin-bottom: 100px;
  clear: both;
  display: inline-block;
  width: 100%;
}

.EduPhoto {
  background: url("Edu.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%;
  background-position: -200px 180px;
  min-height: 450px;
  float: left;
  width: 50%;
  position: relative;
  top: 90px;
}

.edu {
  float: right;
  position: relative;
  right: 10%;
}


.Education h1 {
  color: rgb(255, 145, 0);
  top: 0;
  padding: 30px 30px 30px 0;
  margin-top: 50px;
  text-align: left;
}

.Education p,
.Education ul {
  text-align: left;
  list-style: square;
}

.Work {
  display: inline-block;
  position: relative;
  margin-top: 100px;
  clear: both;
  line-height: 1.5;
  opacity: 0;
  transform: none;
}

.Work h1 {
  color: rgb(255, 145, 0);
  top: 0;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.w1Photo {
  background: url("RR1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%;
  background-position: center right;
  min-height: 420px;
  float: right;
  width: 50%;
}

.w3Photo {
  background: url("hertz.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%;
  background-position: center right;
  min-height: 420px;
  float: right;
  width: 50%;
}

.work1,
.work3 {
  clear: both;
  display: inline-block;
  padding-top: 20px;
  margin-top: 20px;
  left: 0;
  width: 100%;
  padding-bottom: 30px;
}

.w1,
.w3 {
  width: 40%;
  float: left;
  margin-left: 20px;
}

.w1 ul,
.w3 ul {
  clear: both;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 20px;
}

/*** CSS for right side work experience ***/
.work2,
.work4 {
  display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  clear: both;
  right: 0;
  width: 100%;
}

.w2Photo {
  background: url("RR2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%;
  background-position: center left;
  min-height: 350px;
  float: left;
  width: 50%;
}

.w2,
.w4 {
  width: 40%;
  float: right;
  margin-right: 20px;
}

.w2 ul,
.w4 ul {
  clear: both;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 20px;
}

.w4Photo {
  background: url("superstore.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60%;
  background-position: center left;
  min-height: 350px;
  float: left;
  width: 50%;
}

/*** Footer ***/
.Footer {
  margin-top: 50px;
  padding-bottom: 250px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.Footer ul li {
  display: inline-block;
  list-style: none;
  margin-top: 10px;
}

/***** Different display sizes ****/
@media screen and (max-width: 900px) {


  .bio,
  .Education,
  .Work {
    margin-left: 5%;
    margin-right: 5%;
  }
  .logo {
    position: relative;
    top: -0.25em;
  }
  .header ul li {
    font-size: 20px;
    padding: .55em .15em;

  }

  .mname {
    font-size: 30px;
  }

  .mname span {
    font-size: 35px !important;
  }

  .stillblank {
    padding: 230px 0 !important;
  }

}

/*** Properties for project .html ***/

.stillblank {
  clear: both;
  text-align: center;
  margin: 0;
  padding: 300px 0;
}

/***** Properties for transition fade function *****/
.inView {
  transition-delay: .2s;
  opacity: 1;
  transform: none;
  transition: 1s;
}

.outView {
  opacity: 0;
  transform: none;
  transition-delay: 0s;
  transition: .5s;
}

.test {
  background-image: url("tepro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  background-size: cover;
  opacity: .65;
  position: relative;
}